#!/usr/bin/env bash

sudo apt update

# Install fish shell
sudo apt-add-repository -y ppa:fish-shell/release-4
sudo apt update
sudo apt install -y fish
sudo chsh -s $(which fish)

# Install fastfetch (https://github.com/fastfetch-cli/fastfetch)
sudo add-apt-repository -y ppa:zhangsongcui3371/fastfetch
sudo apt update
sudo apt install -y fastfetch

sudo apt install -y \
    # https://github.com/ajeetdsouza/zoxide
    zoxide \
    # https://github.com/sharkdp/fd
    fd-find \
    # https://github.com/eza-community/eza
    eza \
    # https://github.com/sharkdp/bat
    bat \
    # https://github.com/dandavison/delta
    git-delta \
    # https://github.com/aristocratos/btop
    btop \
    # https://github.com/cli/cli
    gh

# https://github.com/dalance/procs
sudo snap install procs
# https://github.com/bootandy/dust
sudo snap install dust

# Install starship (https://starship.rs/)
curl -sS https://starship.rs/install.sh | sh -s -- --yes
